section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    gap: 80px;
}

.container{
    width: 95%;
    margin: 20px auto;
    background-color: #1B1D1F;
    border: 1px solid #6C727F;
    border-radius: 20px;
    padding: 30px;
}
.logo{
    margin: auto;
}
.mainContent{
    display: flex;
    margin-top: 50px;
}
.asideFilter{
    flex: 1;
}
.countryList{
    flex: 3;
}
@media screen and (max-width: 900px){
    section{
        margin-top: 50px;
    }
    .container{
        width: 100%;
        padding: 20px;
    }
    .mainContent{
        flex-direction: column;
        gap: 20px;
    }
    .asideFilter{
        margin-top: 20px;
    }
    .countryList{
        margin-top: 20px;
    }
    
}